<div class="card">
  <div class="card-title">
    <h3> Test page </h3>
    <h5> This is a test page using Angular and connecting with third party API</h5>
  </div>
  <div class="card-text">
    <p>The application has the following sections:</p>
    <ul>
      <li>
        <p><b>Main view:</b> The section in which you are currently and that describes the operation and content of the
          application</p>
      </li>
      <li>
        <p><b><a [routerLink]="weatherLink">Weather:</a></b> Section to check the weather forecast of the location you
          want</p>
      </li>
      <li>
        <p><b><a [routerLink]="parkingLink">Parking:</a></b> Section to check the status of the parkings in the city of
          Madrid</p>
      </li>
    </ul>
  </div>
</div>
