@use './colors.scss' as *;

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
    outline: none;
}
@mixin btn {
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    flex-flow: row nowrap;
    font-weight: 400;
    padding: .5rem 2rem;
    text-transform: uppercase;
    transition: background-color .3s,
                border-color .3s,
                color .3s;
    &-image {
        height: .8rem;
        margin-right: .75rem;
        object-fit: contain;
        object-position: center;
        width: .8rem;
    }
    &-text {
        font-size: .9rem;
    }
    &[disabled] {
        background: gainsboro;
        border-color: lightgray;
        color: gray;
        cursor: not-allowed;
    }
}

/** color **/
.btn {
    @include btn();
    &-red {
        background-color: $button_lightred;
        color: $button_white;
    }
    &-green {
        background-color: $button_green;
        color: $button_white;
    }
    &-lightblue {
        background-color: $button_lightblue;
        color: $button_white;
    }
}