/** general **/
$black: #2a2a2a;
$gray: #646464;
$lightgray: #ebebeb;
$white: #f9f9f9;

/** states **/
$valid: #99ce99;
$invalid: #efb9b9;

/** border **/
$border_lightgray: #a5a5a5;

/** page themes **/
$theme_red: #d94f61;
$theme_light_red: #f5dfdf;
$theme_brown: #593b3f;
$theme_green: #248c75;
$theme_blue: #3f51b5;
$theme_lightgreen: #d9e5de;
$theme_lightblue: #d3dfe2;
$theme_beige: #e9e8e0;

/** button **/
$button_white: #f9f9f9;
$button_lightgreen: #d5e8db;
$button_green: #6fb994;
$button_lightblue: #6dc1c7;
$button_lightred: #d4857c;

/** box-shadow **/
$box_shadow_lightgray: #b7b7b7;
$box_shadow_black: #0c0c0c;

/** input **/
$input_border_lightgray: #d6d6d6;
$input_border_gray: #ababab;
$input_border_darkgray: #8e8e8e;
