@use './../../shared/styles/colors.scss'as *;

.sidebar-subnav {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease;

  &.opening {
    height: auto;
    transition: height 0.2s ease;
  }

  &>.nav-item {
    &>.nav-link {
      padding-left: 35px;

      &>.nav-icon {
        height: 20px;
        object-fit: contain;
        object-position: center;
        width: 20px;
      }
    }
  }
}

:host {
  background-color: $theme_beige;
  box-shadow: 0.125rem 0 0.25rem -0.25rem black;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  z-index: 1;
}

.account {
  border-bottom: 1px solid transparentize($color: $theme_blue, $amount: 0.75);
  box-shadow: 0 0px 6px -2px rgba(0, 0, 0, 0.5);
  display: inline-grid;
  flex: 0 0 auto;
  grid-gap: 0.5rem 1rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  padding: 1rem;

  &-image {
    align-self: center;
    grid-column: 1;
    grid-row: 1 / -1;
    height: 3rem;
    white-space: pre;
  }

  &-name {
    font-weight: 300;
    grid-column: 2;
    grid-row: 1;
    white-space: pre;
  }

  &-role {
    font-size: 0.8rem;
    font-weight: 600;
    grid-column: 2;
    grid-row: 2;
    text-transform: uppercase;
    white-space: pre;
  }

  &-email {
    font-size: 0.8rem;
    grid-column: 2;
    white-space: pre;
  }
}

.nav {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;

  &-list {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    margin-bottom: 0;
  }

  &-item {
    &.logout {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 0 auto;
      justify-content: flex-end;
    }

    &:not(.logout) {
      align-items: center;
      border-left: 0.25rem solid transparent;
    }

    &.active {
      background-color: $theme_lightblue;
      border-left-color: $theme_blue;
    }
  }

  &-link {
    align-items: center;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    color: $black;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
      background-color: $theme_lightblue;
      border-left-color: $theme_lightblue;
    }

    &.logout:hover {
      background-color: $theme_light_red;
      border-left-color: $theme_red;
    }
  }

  &-icon {
    height: 1.75rem;
    object-fit: contain;
    object-position: center;
    width: 1.75rem;
  }

  &-text {
    margin-left: 1rem;
  }
}
